In [ ]:
Introduction to python programming

In [1]:
x=3
y=2
z=x+y
print(z)

5

Rules No : 1 No Name Spaces

In [4]:
First name='Faiyaz'
print(First name)

SyntaxError: invalid syntax (2666891441.py, line 1)

In [5]:
First_name='Farisa'
print(First_name)

Farisa

In [ ]:
Rule No: 2 Variable name should not start with number

In [8]:
1name='Farisa'
print(1name)

SyntaxError: invalid decimal literal (1948101247.py, line 1)

In [9]:
name1='farisa'
print(name1)

farisa

In [ ]:
Rule No:3 Variable should not contain any special characters
    @ # $ % & *

In [10]:
name@='john'

NameError: name 'name' is not defined

In [ ]:
1. Single Quote

In [11]:
name = 'Venkates'
print (name)

Venkates

In [ ]:
2. Double Quote

In [13]:
name2 = 'Bhargav'
print (name2)

Bhargav

In [ ]:
Introduction to string

In [14]:
type (name)

str

In [15]:
type (name2)

str